* {
    outline: 1px solid tomato-;
}

@media (max-width: 768px) {
    .d_flex {
        display: flex;
        gap: 60px;

        flex-direction: column;
        gap: 0;
    }

    .d_flex>* {
        flex: 1;
        min-width: 0;
    }
}




/* Header */
.header {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;

    padding: 0 100px;
    color: #fff;
}

.header.on {
    color: #000;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
}

/* Header_m */
@media (max-width: 768px) {
    .header {
        position: fixed;
        top: 30px;
        left: 0;
        right: 0;
        z-index: 999;

        padding: 0 15px;
        color: #fff;
    }

    .header.on {
        color: #000;
    }

    .header h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2;
    }
}



/* fullpage_link */
.f_link {
    position: fixed;
    bottom: 60px;
    left: 100px;
    z-index: 999;

    border: 1px solid #000;
}

.f_link ul {
    display: flex;
}

.f_link ul li {
    border-right: 1px solid #000;
    width: 40px;
    height: 40px;
}

.f_link ul li:last-of-type {
    border-right: none;
}

.f_link ul li a {
    display: block;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.f_link ul li.on a {
    background: #000;
    color: #fff;
}

.f_link ul li:nth-child(1).on a {
    color: #000;
}

/* fullpage_link_m */
@media (max-width: 768px) {
    .f_link {
        position: fixed;
        bottom: 30px;
        left: 15px;
        z-index: 999;

        border: 1px solid #000;

    }

    .f_link ul {
        display: flex;
    }

    .f_link ul li {
        border-right: 1px solid #000;
        width: 20px;
        height: 20px;
    }

    .f_link ul li:last-of-type {
        border-right: none;
    }

    .f_link ul li a {
        display: block;
        font-size: 10px;
        line-height: 20px;
        text-align: center;
    }

    .f_link ul li.on a {
        background: #000;
        color: #fff;
    }

    .f_link ul li:nth-child(1).on a {
        color: #000;
    }
}


/* menu_btn */
.menu_btn {
    position: fixed;
    top: 60px;
    right: 33px;
    width: 32px;
    height: 24px;
    cursor: pointer;
    z-index: 1000;
}

.menu_btn button {
    background: transparent;
    border: none;
    outline: none;
}

.menu_btn span {
    font-size: 0;
}

.menu_btn button::before {
    content: "";
    position: absolute;
    inset: 0 0 auto 0;
    height: 4px;
    background: #000;
}

.menu_btn button::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 4px;
    background: #000;
}

.menu_btn.on button::before,
.menu_btn.on button::after {
    display: none;
}

.menu_btn span::before {
    content: "";
    position: absolute;
    inset: 50% 0 auto 0;
    height: 4px;
    background: #000;
    transform: translate(0, -50%);
}

.menu_btn.on span::before {
    transform: translate(0, -50%) rotate(45deg);
}

.menu_btn span::after {
    content: "";
    position: absolute;
    inset: 50% 0 auto 0;
    height: 4px;
    background: #000;
    transform: translate(0, -50%);
}

.menu_btn.on span::after {
    transform: translate(0, -50%) rotate(-45deg);
}

/* menu_btn_m */
@media (max-width: 768px) {
    .menu_btn {
        position: fixed;
        top: 72px;
        right: 15px;
        width: 25px;
        height: 20px;
        cursor: pointer;
        z-index: 1000;
    }

    .menu_btn button {
        background: transparent;
        border: none;
        outline: none;
    }

    .menu_btn span {
        font-size: 0;
    }

    .menu_btn button::before {
        content: "";
        position: absolute;
        inset: 0 0 auto 0;
        height: 4px;
        background: #000;
    }

    .menu_btn button::after {
        content: "";
        position: absolute;
        inset: auto 0 0 0;
        height: 4px;
        background: #000;
    }

    .menu_btn.on button::before,
    .menu_btn.on button::after {
        display: none;
    }

    .menu_btn span::before {
        content: "";
        position: absolute;
        inset: 50% 0 auto 0;
        height: 4px;
        background: #000;
        transform: translate(0, -50%);
    }

    .menu_btn.on span::before {
        transform: translate(0, -50%) rotate(45deg);
    }

    .menu_btn span::after {
        content: "";
        position: absolute;
        inset: 50% 0 auto 0;
        height: 4px;
        background: #000;
        transform: translate(0, -50%);
    }

    .menu_btn.on span::after {
        transform: translate(0, -50%) rotate(-45deg);
    }
}



/* menu_btn_cover */
.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 100px);
    border-bottom-right-radius: 130px;
    height: 100vh;
    background: #000;
    z-index: 1000;

    display: none;
}

.cover.on {
    display: block;
}

.cover>ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 60px;
}

.cover>ul>li {
    position: relative;
}

.cover>ul>li~li::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -35px;
    transform: translate(50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #666;
}

.cover>ul>li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    line-height: 1.4;
    color: #fff;
    font-size: 70px;
    font-weight: 500;
    white-space: nowrap;
}

.cover>ul>li a::after {
    left: 50%;
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0)', endColorstr='rgba(255,255,255,0.2)', GradientType=1);
}

.cover>ul>li a::before {
    right: 50%;
    background: rgba(255, 255, 255, 0.5);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(255,255,255,0.2)', endColorstr='rgba(0,0,0,0)', GradientType=1);
}

.cover>ul>li a::after,
.cover>ul>li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;

    transition: all 0.4s ease-in 0s;
}

.cover>ul>li a:hover::after {
    width: 50%;
    left: 0;
}

.cover>ul>li a:hover::before {
    right: 0;
    width: 50%;
}

/* menu_btn_cover_m */
@media (max-width: 768px) {
    .cover {
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 55px);
        border-bottom-right-radius: 0;
        height: 100vh;
        background: #000;
        z-index: 1000;

        display: none;
    }

    .cover.on {
        display: block;
    }

    .cover>ul {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 60px;

        flex-direction: column;
        gap: 15px;
    }

    .cover>ul>li {
        position: relative;
    }

    .cover>ul>li~li::before {
        display: none;
    }

    .cover>ul>li a {
        font-family: 'Poppins', sans-serif;
        display: block;
        line-height: 1.4;
        color: #fff;
        font-size: 32px;
        font-weight: 100;
        white-space: nowrap;
    }

    .cover>ul>li a::after {
        display: none;
    }

    .cover>ul>li a::before {
        display: none;
    }

    .cover>ul>li a::after,
    .cover>ul>li a::before {
        display: none;
    }

    .cover>ul>li a:hover::after {
        display: none;
    }

    .cover>ul>li a:hover::before {
        display: none;
    }
}


/* left_pagination */
.pagination {
    position: fixed;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    z-index: 999;

    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 10px;
}

/* left_pagination_m */
@media (max-width: 768px) {
    .pagination {
        position: fixed;
        top: 26%;
        left: 0;
        transform: translate(0, -50%);
        z-index: 999;

        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        padding: 5px 15px;
    }
}



/* fullpage_MAIN */
.page01 {
    background: #000 no-repeat fixed center center/cover;
    width: calc(100% - 100px);
    border-bottom-right-radius: 130px;

    position: relative;
}

.page01 .slogan h2 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 82px;
    font-weight: 100;
    line-height: 1.2;
    text-align: right;

    position: relative;
}

.page01 .slogan h2::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background: rgba(255, 255, 255, 0.5);
    top: -250px;
    right: 0;
}

.page01 .slogan .point {
    font-size: 150px;
    font-weight: 600;
}

.page01 .copy_area {
    color: #ccc;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 14px;
    transform: rotate(-90deg);

    position: absolute;
    left: 28px;
    bottom: 125px;
    z-index: 999;
}

.page01 .scr_btn {
    position: absolute;
    right: -55px;
    bottom: 120px;
    font-size: 14px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

.page01 .scr_btn strong {
    display: inline-block;
    width: 1px;
    height: 70px;
    margin-top: 2px;
}

.page01 .scr_btn strong::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    animation: scr_bar 1s infinite;
    background: #333;
}

@keyframes scr_bar {
    to {
        height: 100%;
    }
}



.page02,
.page03,
.page04,
.footer {
    background: #f9f9f9 no-repeat fixed center center/cover;
    width: calc(100% - 100px);
    border-bottom-right-radius: 130px;
}


.fpg_img {
    width: 690px;
    height: 356px;
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.fpg_img img {
    transform: translate(0, 0);
    transition: 10s;
}

.fpg_img:hover img {
    transform: translate(0, calc(-100% + 336px));
}

.info_wrap {
    position: relative;
}

.info_wrap h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    font-weight: 700;
    line-height: 80px;
    text-align: right;
    position: relative;
    margin: 0 0 40px 0;
}

.info_wrap .kor_title {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 900;
}

.info_wrap h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 100px;
    height: 2px;
    right: 0;
    bottom: 0;
    transform: translate(0, 15px);
    background: #000;
}

.info_wrap .list>* {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 0 0 15px 0;
    line-height: 1.6;
}

.info_wrap .desc {
    line-height: 1.6;
    font-size: 18px;
    word-break: keep-all;
    text-align: justify;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 23px;
}

.info_wrap .list>li strong {
    display: block;
    text-align: left;
    background: transparent;
    font-weight: 900;
}

.info_wrap .list>li span {
    margin: 0 0 0 10px;
    line-height: 27px;
}

.web_btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.web_btn a {
    display: block;
    width: 150px;
    height: 40px;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    line-height: 40px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


.page04 .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    width: 1200px;
    margin-right: 190px;
}

.page04 .training_work .main_img {
    border: 5px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    margin: 0 0 15px 0;
}

.page04 .training_work .txt_wrap {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.page04 .training_work .txt_wrap h3 {
    font-family: 'Poppins', sans-serif;
}


.footer .resume_box {
    display: grid;
    grid-template-columns: 350px 350px 470px;
    gap: 40px;

    width: 1200px;
    margin-left: 190px;
}

.footer .resume_box .pf_img {
    text-align: center;
}

.footer .resume_box .pf_img img {
    height: 320px;
}

.footer .resume_box .info_wrap img {
    width: 100px;
    margin-top: 10px;
}

.footer .resume_box .pf_txt {
    line-height: 27px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer .resume_box .pf_txt h3 {
    font-weight: 900;
}


/* fullpage_MAIN_m */
@media (max-width: 768px) {
    .page01 {
        background: #000 no-repeat fixed center center/cover;
        width: 100%;
        border-bottom-right-radius: 0;

        position: relative;
    }

    .page01 .slogan h2 {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        line-height: 1.2;
        text-align: right;

        position: relative;
    }

    .page01 .slogan h2::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 50px;
        background: rgba(255, 255, 255, 0.5);
        top: -30px;
        right: 0;
    }

    .page01 .slogan .point {
        font-size: 52px;
        font-weight: 600;
    }

    .page01 .copy_area {
        color: #ccc;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        font-size: 12px;
        transform: rotate(-90deg);

        position: absolute;
        left: -40px;
        bottom: 100px;
        z-index: 999;
    }

    .page01 .scr_btn {
        display: none;
    }

    .page01 .scr_btn strong {
        display: inline-block;
        width: 1px;
        height: 70px;
        margin-top: 2px;
    }

    .page01 .scr_btn strong::after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        animation: scr_bar 1s infinite;
        background: #333;
    }

    @keyframes scr_bar {
        to {
            height: 100%;
        }
    }



    .page02,
    .page03,
    .page04,
    .footer {
        background: #f9f9f9 no-repeat fixed center center/cover;
        width: 100%;
        border-bottom-right-radius: 0;
    }


    .fpg_img {
        width: 100%;
        height: 190px;
        overflow: hidden;
        border: 5px solid #fff;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    }

    .fpg_img img {
        transform: translate(0, 0);
        transition: 10s;
    }

    .fpg_img:hover img {
        transform: translate(0, 0);
    }

    .info_wrap {
        position: relative;
    }

    .info_wrap h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 80px;
        text-align: right;
        position: relative;
        margin: 0 0 0 0;
    }

    .info_wrap .kor_title {
        font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
        font-weight: 900;
    }

    .info_wrap h2::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 2px;
        right: 0;
        bottom: 0;
        transform: translate(0, 0);
        background: #000;
    }

    .info_wrap .list>* {
        display: grid;
        grid-template-columns: 90px 1fr;
        margin: 0 0 0 0;
        line-height: 26px;
        font-size: 13px;
    }

    .info_wrap .desc {
        line-height: 1.4;
        font-size: 14px;
        word-break: break-all;
        text-align: justify;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 13px;
    }

    .info_wrap .list>li strong {
        display: block;
        text-align: left;
        background: transparent;
        font-weight: 900;
    }

    .info_wrap .list>li span {
        margin: 0 0 0 0;
        line-height: 26px;
    }

    .web_btn {
        position: absolute;
        bottom: -60px;
        right: 0;
    }

    .web_btn a {
        display: block;
        width: 120px;
        height: 40px;
        background: #fff;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;

        line-height: 40px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-align: center;

        font-size: 14px;
    }

    .page04 .content {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        gap: 10px;

        width: 100%;
        margin-right: 0;
    }

    .page04 .training_work .main_img {
        border: 5px solid #fff;
        border-radius: 8px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
        margin: 0 0 5px 0;
    }

    .page04 .training_work .txt_wrap {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }

    .page04 .training_work .txt_wrap h3 {
        font-family: 'Poppins', sans-serif;
    }


    .footer .resume_box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;

        width: 100%;
        margin-left: 0;
    }

    .footer .resume_box .pf_img {
        text-align: right;
    }

    .footer .resume_box .pf_img img {
        height: 150px;
        border-radius: 50%;
    }

    .footer .resume_box .info_wrap img {
        width: 20%;
        margin-top: 10px;
    }

    .footer .resume_box .pf_txt {
        line-height: 26px;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .footer .resume_box .pf_txt h3 {
        font-weight: 900;
    }
}